
#menu{
	width:1050px;
	height:75px;
	border: 1px solid black;	
	border-bottom: solid white;
}

#menu div{
	display:inline-block;
	vertical-align:top;
	width:40px;
	height:50px;
	padding-right:25px;
}

#menu p{
	padding-right:250px;
	display:inline-block;
}

#left-menu{
	width: 200px;
	height:680px;
	border:1px solid black;
	vertical-align:top;
	display:inline-block;
}


#tools{
	height:130px;
	border-bottom:1px solid black;
}

#tools div{
	display:inline;
	vertical-align:top;
	float: left;
	
}


ul{
	list-style-type: none;
}

#thickmenu{
	background-color: #E2D38A;
	height: 110px;
	width: 78px;
	position: absolute;
}

.thick {
	margin-bottom: 10px;
}

.hide{
	opacity:0;
}

#brush{
	margin-left: 10px;
	margin-right: 5px;
}

#pencil{
	margin-right: 20px;
	margin-left:5px;
}


#select{
	margin-right: 5px;
	margin-left: 10px;
}
#paint{
	margin-right: 5px;
}
#text{
	margin-right: 5px;
}

#shapes div{
	display:inline;
	float: left;
	width: 40px;
	height: 50px;
}

#shapes{
	height: 130px;
	border-bottom: 1px solid black;
}


#colour{
	height:200px;
}

#colour div{
	width:40px;
	height:50px;
	padding-left:10px;
}

#colour button{
	height: 30px;
	width: 30px;
}

#cc button{
	height: 30px;
	width: 30px;
}


#right-menu{
	vertical-align:top;
	display:inline-block;
}

#canvas1 {

	width:800px;
	height:400px;

}

#canvas{
	
	border:20px solid gray;
	height:100%;
	position: relative;
}

#temp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	opacity: 0.2;
	cursor: crosshair;
}



#text_tool{
	position: absolute;
	border: 1px dashed black;
	outline: 0;
	display: none;
	font: 20px Verdana;
	overflow: hidden;
	white-space: nowrap;
}

#frameandtools{
	width:845px;
	height:235px;
	border: 1px solid black;
	
}

#frames{
	width:710px;
	height: 170px;
	border: 1px solid black;
	border-left: solid white;
	border-bottom: solid white;
	padding-top:10px;
	padding-left:10px;
	overflow-x: scroll;
	overflow-y: hidden;
	float: left;

}
#frame-tools{
	height:250px;
	width: 121px;
	overflow: hidden;
	}

#frame-tools div{
	padding-bottom:5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	
}
#fft{
	width: 849px ;
	height: 188px ;
}

figure{
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#player{
	text-align: center;
	padding-bottom: 3px;
	height:20px;
}
#player img{
	padding-left:10px;
	height:20px;
	width:20px;
}
img{
	width:40px;
	height:40px;
	
}

body{
	white-space: nowrap;
}

figure{
	width: 40px;
	height: 40px;
}

.frame{
	height:120px;
	width:170px;
	border:1px solid black;
	margin-right: 2px;
}

#playDiv{
	width:800px;
	height:400px;
	border: 20px solid blue;
	position: absolute;
	background-color: white;
	margin-left: 228px;
	margin-top: 75px;
	vertical-align: top;
}

#space {
	height: 5px;
	width:200px;
	background-color: blue;
}